@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/*=====
1.0 - Typography
=====*/
#about {
	text-align: center;
}

input, form p, nav li {
	display: inline-block;
}

p, h3, label, a, h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul li a {
	font-family: "Century Schoolbook L", "Times New Roman", "serif";
}

#about p, #services .col-1-4, #choose-us p {
	line-height: 2rem;
}

/*----- 1.1 - Headings -----*/
h1 {
	font-size: 3.5rem;
	line-height: 4rem;
	font-weight: 300;
}

a {
	text-decoration: none;
}

ul li a {
	font-weight: 700;
}

h2 {
	font-size: 3rem;
	font-weight: 500;
}

h3 {
	font-weight: 500;
}

/*----- 1.2 - Body Copy -----*/

h3, body > header:first-of-type .col-1-2 p a, ul li a {
	text-transform: uppercase;
}

#services .float-none {
	font-size: 2rem;
	line-height: 3rem;
}

/*----- 1.3 - Buttons -----*/



/*----- 1.4 - Forms -----*/


/*=====
2.0 - Navigation Menus 
=====*/

/*----- 2.1 - Main Menu -----*/
nav ul {
	text-align: right;
	display: inline-flex;
}

/*=====
4.0 - Media
=====*/


/*=====
5.0 - Utility 
=====*/

/*----- 5.1 - Background Colors -----*/
body > header:first-of-type {
	background: url("../img/bg-header.jpg") no-repeat 0 0 ;
	background-size: cover;
	height: 950px;
}

body > header:first-of-type .col-1-2 p a {
	background-color: #323232;
}

body > header:first-of-type .col-1-2 p a:hover {
	background-color: #008793;
}

#about {
	background-color: #f2f2f2;
}

/*----- 5.2 - Text Colors -----*/
h1 {
	color: #fff;
}

body > header:first-of-type .col-1-2 p a {
	color: #fff;
}

nav a {
	color: #323232;
}

ul li a:hover {
	color: #008793;
}

/*----- 5.4 - Alignments -----*/
.float-right {
	float: right;
}

.float-none {
	float: none;
}

h1 {
	margin-top: 20rem;
}

body > header:first-of-type .col-1-2 p a {
	padding: 1rem 5rem;
}

ul li:first-child, ul li:nth-child(2), ul li:nth-child(3){
	margin-right: 4rem;
}

#services .float-none {
	text-align: center;
	margin: 10rem auto;
}

#services {
	margin-bottom: 5rem;
}

#about {
	padding: 3rem 0;
}

#about {
	text-align: left;
}

#about .col-1-3:last-of-type {
	margin-top: 5rem;
}

h2 {
	margin: 1rem 0;
}

#choose-us {
	padding: 6rem 0;
}






@media screen and (max-width:480px) {
	
		/*=====
	1.0 - Typography
	=====*/
		.col-1-4, .col-1-3, h2, h3 {
		text-align: center;
	}
	
	.wrapper {
		width: 95%;
	}
	
	.col-1-4, .col-2-3, .col-1-3, .col-1-2 {
		width: 100%;
	}
	
	.col-1-4 {
		text-align: center;
	}
}





