@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

/*=====
1.0 - Typography
=====*/
#about {
	text-align: center;
}

form p, nav li {
	display: inline-block;
}

p, h3, label, a, h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul li a {
	font-family: "Century Schoolbook L", "Times New Roman", "serif";
}

#about p, #services .col-1-4, #choose-us p {
	line-height: 2rem;
}

a {
	text-decoration: none;
}

ul li a, #full-name label, #email label {
	font-weight: 700;
}

h3, body > header:first-of-type .col-1-2 p a, ul li a, form p a, fieldset label {
	text-transform: uppercase;
}

/*----- 1.1 - Headings -----*/
h1 {
	font-size: 3.5rem;
	line-height: 4rem;
	font-weight: 300;
}

h2 {
	font-size: 3rem;
}

h3, h2 {
	font-weight: 500;
}

/*----- 1.2 - Body Copy -----*/
#services .float-none {
	font-size: 2rem;
	line-height: 3rem;
}

#upcoming section p:first-of-type {
	font-weight: 900;
}

/*----- 1.3 - Buttons -----*/
footer #sprites li:first-child a {
	background: url("../img/twitter-icon.png") no-repeat 0 0;
}

footer #sprites li:second-child a {
	background: url("../img/facebook-icon.png") no-repeat 0 0;
}

footer #sprites ul li {
	width: 40px;
	height: 40px;
}

footer #sprites li a:hover {
	background-position: 0 -20px;
}


/*----- 1.4 - Forms -----*/
#full-name, #email, form p {
	display: block;
}

fieldset {
	border: none;
}

/*----- 1.5 - Lists -----*/
footer ul li {
	list-style: none;
}


/*=====
2.0 - Navigation Menus 
=====*/

/*----- 2.1 - Main Menu -----*/
nav li {
	display: inline-block
}

nav ul {
	text-align: right;
	padding: 0;
}

/*=====
4.0 - Media
=====*/
.img-responsive {
	max-width: 100%;
	display: block;
	height: auto;
}

/*=====
5.0 - Utility 
=====*/
.wrapper {
	width: 65%;
}

a span {
	display: none;
}

/*----- 5.1 - Background Colors -----*/
body > header:first-of-type {
	background: url("../img/bg-header.jpg") no-repeat 0 0 ;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	height: 60rem;
}

body > header:first-of-type .col-1-2 p a, form p a {
	background-color: #323232;
}

body > header:first-of-type .col-1-2 p a:hover, form p a:hover {
	background-color: #008793;
}

#about, footer {
	background-color: #f2f2f2;
}

/*----- 5.2 - Text Colors -----*/
body > header:first-of-type .col-1-2 p a, form p a, h1 {
	color: #fff;
}

nav a {
	color: #323232;
}

ul li a:hover {
	color: #008793;
}

/*----- 5.4 - Alignments -----*/
.float-right {
	float: right;
}

.float-none {
	float: none;
}

h1 {
	margin-top: 20rem;
}

#full-name, #email {
	height: 3rem;
}

#full-name, #email, textarea {
	width: 32rem;
}

textarea {
	height: 6rem;
}

form div p:last-of-type {
	margin: 2rem 0 10rem 0;
}

body > header:first-of-type .col-1-2 p a, form p a {
	padding: 1rem 4.5rem;
}

ul li:first-child, ul li:nth-child(2), ul li:nth-child(3){
	margin-right: 4rem;
}

#services .float-none {
	text-align: center;
	margin: 10rem auto;
}

#services {
	margin-bottom: 5rem;
}

#about {
	padding: 3rem 0;
}

#about {
	text-align: left;
}

#about .col-1-3:last-of-type {
	margin-top: 5rem;
}

h2, fieldset input {
	margin: 1rem 0;
}

#choose-us {
	padding: 6rem 0;
}

input {
	margin: 1rem 0 2rem 0;
}

footer nav {
	margin-top: 1.5rem;
}

fieldset label {
	display: block;
}

@media screen and (max-width:480px) {
	
		/*=====
	1.0 - Typography
	=====*/
		.col-1-4, .col-1-3, h2, h3, h1 {
		text-align: center;
	}
	
	.wrapper {
		width: 95%;
	}
	
	.col-1-4, .col-2-3, .col-1-3, .col-1-2, .col-3-4 {
		width: 100%;
	}
	
	h1 {
		font-size: 2rem;
		margin: 0 0 2rem 0;
		line-height: 2.95rem;
		font-weight: 400;
	}
	
	/*----- 5.4 - Alignments -----*/
	#full-name, #email, textarea {
		width: 23rem;
	}
	
	#about, #about h3 {
		text-align: left;
	}

	form #full-name label {
		text-align: center;
	}
	
	body > header:first-of-type .col-1-2 p a, form p a {
		padding: 1rem 8.73rem;
	}
	
	#upcoming {
		text-align: center;
	}

	body > header:first-of-type {
	background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-ms-background-size: contain;
	-moz-background-size: contain;
	height: 15rem;
	}
	
	.flex-reverse {
    display: flex;
    flex-direction: column-reverse;
}
	
	#about h2 {
		margin: 4rem 0 2rem 0;
	}
	
	#about section:nth-child(3), #about section:last-child {
		margin-top: 4rem;
	}
	
	#about {
		background-color: #fff;
	}
	
	#about {
		padding: 0;
	}
	
	#connect .col-1-2:first-child {
		margin-top: 6rem;
	}
	
}





